:host {
  width: 100%;
}

p {
  background-color: #151515;
  color: #fff;
  height: 150px;
  line-height: 150px;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  border: 1px solid #000;
  margin-bottom: 0;
  margin-top: 0;
}
