:host {
  width: 100%;
}
main {
  display: flex;
  margin-top: 10px;
  text-align: center;
  line-height: 250px;
  font-size: 30px;
  margin-bottom: 10px;
}


#main-content {
  flex: 0 0 50%;
  background-color: #939393;
  height: 250px;
  margin-left: 10%;
  margin-right: 2%;
}

#side-bar {
  flex: 0 0 25%;
  height: 250px;
  background-color: #a8a8a8;
}
